<div class="container">
  <div class=row>
    <h1>My Task List:</h1>
  </div>

  <ng-container *ngIf="(todo$|async) && (todo$ | async)">
    <div class="row">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Is Completed?</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of (todo$ | async)">
            <th scope="row">{{todo.id}}</th>
            <td>{{todo.text}}</td>
            <td>{{todo.completed}}</td>
            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-{{todo.completed ? 'secondary' : 'success'  }}" (click)="checkTask(todo.id, todo.completed)"
                  style="Width:80px;">{{todo.completed ? 'Uncheck' : 'Check'  }}</button>
                <button type="button" (click)="removeTodo(todo.id)" class="btn btn-danger"
                  style="Width:80px;">Remove</button>
                <button type="button" class="btn btn-primary " (click)="loadTask(todo)"
                  style="Width:80px;">Edit</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <form [formGroup]="todoForm" (ngSubmit)="saveTodo()">
        <div class="form-group">
          <label for="name">Add new task</label>
          <input formControlName="text" type="email" class="form-control" id="name" aria-describedby="emailHelp"
            placeholder="Enter a task">
        </div>
        <div class="form-check">
          <input formControlName="completed" type="checkbox" class="form-check-input" id="isCompleted">
          <label class="form-check-label" for="isCompleted">Is Completed?</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Save</button>
      </form>
    </div>
  </ng-container>
</div>